body {
  background-color: #DEDFCD;
  font-family: HelveticaNeue-light, Helvetica, Arial, sans-serif;
}

h6 {
  margin: relative;
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
}

.credentials, .all_requests_received, .all_spaces, .all_available_space, #available_dates {
  background-color: #B7C4B0;
  height: relative;
  width: 230px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px
}

#user-credentials {
  padding: 25px;
}

input {
  margin: 4px;
  padding: 3px;
  width: 127px
}

textarea {
  margin: 4px;
  padding: 3px;
  box-shadow: inset 1px 1px 1px #888888;
  border: #888888;
  width: 130px
}

button:hover {
  color: #ec9f48;
}

button {
  display: block;
  margin: 10 auto;
}

input[type="submit"] {
  display: block;
  margin: 10 auto;
}

input[type="submit"]:hover {
  color: #ec9f48;
}

input[type="checkbox"] {
  width: 10px;
  margin-left: 31%;
}

input[type="text"], input[type="password"] {
  margin-left: 15%;
}


li {
  list-style-type: none;
  padding-top: 10px;
}

h3 {
  margin: relative;
  text-align: center;
}
