body {
  background-color: #DEDFCD;
  font-family: HelveticaNeue-light, Helvetica, Arial, sans-serif;
}

h6 {
  margin: relative;
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
}

.credentials {
  background-color: #B7C4B0;
  height: relative;
  width: 200px;
  margin: auto;
  margin-top: 50;
  border-radius: 4px;

}

#user-credentials {
  padding: 30px;
  padding-top: 0;

}

input {
  margin: 4px;
  padding: 3px;
}
